@import url("https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  background-color: black;
}

.headingPrimary {
  font-size: 8rem;
  width: 80%;
  font-family: "Great Vibes", cursive;
}

/* Styling for home page */
.container {
  max-width: 100%;
}

.homePage {
  max-width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("./img/homePageBg.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 3rem;
}

.inner-container {
  margin: 0 auto;
  width: 90%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  gap: 3rem;
}

.name {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  font-size: 8rem;
  gap: 15px;
  color: white;
  font-weight: 600;
}

.gName {
  font-size: 9rem;
  font-family: "Great Vibes", cursive;
  transition: all 0.8s ease-in-out;
  opacity: 0;
  padding: 5px;
  transform: translateX(-100%);
}

.emoji {
  transition: all 0.8s ease-in-out;
  opacity: 0;
}

.bName {
  font-size: 9rem;
  font-family: "Great Vibes", cursive;
  transition: all 0.8s ease-in-out;
  opacity: 0;
  transform: translateX(100%);
  padding: 5px;
}

.inner-container p {
  font-size: 2rem;
  letter-spacing: 10px;
  font-weight: lighter;
  color: white;
  animation: para 3s;
}

.timeLeft {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  transform: translateY(100%);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.time {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 16.5rem;
  height: 16.5rem;
  border: 3px solid cyan;
  border-radius: 50%;
  font-size: 3rem;
  color: white;
}

.time div {
  font-size: 6rem;
}

/* Styling for about page */
.about {
  color: white;
  margin: 0 auto 3rem;
  text-align: center;
  padding: 3rem;
  max-width: 100%;
  background-color: red;
  height: fit-content();
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/AboutPageBg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.about h1 {
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
}

.heart-design {
  font-size: 3rem;
  display: inline;
  position: relative;
}

.heart-design::after {
  content: "";
  position: absolute;
  top: 40%;
  left: 150%;
  width: 300%;
  height: 2px;
  background-color: rgb(254, 70, 70);
}

.heart-design::before {
  content: "";
  position: absolute;
  top: 40%;
  right: 150%;
  width: 300%;
  height: 2px;
  background-color: rgb(254, 70, 70);
}

.about-info {
  margin: 3rem auto;
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  height: fit-content();
  gap: 5rem;
}

.about-info h2 {
  font-size: 4rem;
  letter-spacing: 0;
  font-family: "Great Vibes", cursive;
}

.groom {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
  background-color: rgb(112, 196, 206);
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.8s ease;
}

.groom span {
  font-size: 3rem;
  letter-spacing: 10px;
}

.groom p {
  font-size: 2rem;
  margin-top: -2rem;
  letter-spacing: 0;
  justify-self: flex-end;
  letter-spacing: 5px;
}

.g-img {
  width: 30rem;
  height: 30rem;
  background-color: white;
  border-radius: 50%;
  margin: 0 auto;
}

.g-img {
  background-image: url("/img/Groom.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.g-img:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./img//Groom.jpg");

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.g-info {
  font-size: 2rem;
  line-height: 1.3;
  letter-spacing: 0px;
}

.bride {
  background-color: rgb(183, 74, 74);
  transform: translate(100%);
  opacity: 0;
  transition: all 0.8s ease;
}

.b-img {
  background-image: url("./img/Bride.jpg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.b-img:hover {
  background: linear-gradient(
      rgba(255, 255, 255, 0.5),
      rgba(255, 255, 255, 0.5)
    ),
    url("./img/Bride.jpg");

  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}

.follow-icons {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 100%;
  gap: 2rem;
  font-size: 5rem;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.follow-icons a {
  text-decoration: none;
  color: black;
}

.b-img:hover .follow-icons,
.g-img:hover .follow-icons {
  left: 50%;
  opacity: 1;
}

/* Styling for wedding section */
.wedding {
  color: white;
  margin: 0 auto 3rem;
  text-align: center;
  padding: 3rem;
  max-width: 100%;
  background-color: red;
  height: fit-content();
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/AboutPageBg.jpeg");
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.wedding h1 {
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
}

.wedding-gName {
  transform: translateX(0%) !important;
  opacity: 1 !important;
  transition: all 0.8s ease-in-out !important;
  padding: 5px;
}

.wedding-emoji {
  transform: translateX(0%) !important;
  opacity: 1 !important;
  transition: all 0.8s ease-in-out !important;
}

.wedding-bName {
  transform: translateX(0%) !important;
  opacity: 1 !important;
  transition: all 0.8s ease-in-out !important;
  padding: 5px;
}

.wedding p {
  max-width: 40%;
  line-height: 1.3;
  letter-spacing: 1px;
  font-size: 2rem;
}

.wedding-details {
  margin: 2rem 0 2rem;
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  width: 90%;
}

.function {
  padding: 2rem;
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background-color: white;
}

.mhendi {
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.haldi {
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.marriage {
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.8s ease-in-out;
}

.wedding-details-title {
  font-size: 4rem;
  letter-spacing: 3px;
  color: rgb(254, 70, 70);
  width: 100%;
}

.wedding-details-time {
  font-size: 2.5rem;
  color: black;
  font-family: "Great Vibes", cursive;
}

.svg {
  width: 3rem;
  height: 3rem;
  fill: rgb(254, 70, 70);
}

.wedding-details-location {
  color: black;
  font-size: 2rem;
}

.wedding h3 {
  font-size: 4rem;
  position: relative;
  width: 100%;
}

.wedding h3::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 30%;
  width: 10%;
  height: 2px;
  background-color: rgb(254, 70, 70);
}

.wedding h3::before {
  content: "";
  position: absolute;
  top: 50%;
  right: 30%;
  width: 10%;
  height: 2px;
  background-color: rgb(254, 70, 70);
}

.map {
  width: 90%;
  height: fit-content();
}

.location {
  width: 100%;
  transform: scale(0);
  transition: all 0.8s linear;
}

/* Styling for gallery section */
.gallery {
  color: white;
  margin: 0 auto;
  text-align: center;
  padding: 3rem;
  max-width: 100%;
  background-color: red;
  height: fit-content();
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("./img/AboutPageBg.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.gallery h1 {
  font-size: 5rem;
  font-family: "Great Vibes", cursive;
}

.box {
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  opacity: 0;
  transform: translate(100%, -100%);
  transition: all 0.8s linear;
}

.dream {
  display: flex;
  flex-direction: column;
  width: 32.5%;
  transform: scale(0);
  transition: all 0.8s linear;
}

.dream img {
  width: 100%;
  padding: 5px;
  border-radius: 20px;
}

@media (max-width: 1028px) {
  .g-img {
    width: 25rem;
    height: 25rem;
  }
}

@media (max-width: 900px) {
  .about-info {
    flex-direction: column;
    flex: 1;
  }

  .g-img {
    width: 30rem;
    height: 30rem;
  }

  .wedding h3::after {
    left: 20%;
    width: 15%;
  }

  .wedding h3::before {
    right: 20%;
    width: 15%;
  }
}

@media all and (max-width: 850px) {
  html {
    font-size: 55%;
  }

  .homePage {
    background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url("./img/TabBg.jpeg");
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .wedding p {
    max-width: 70%;
  }
}

@media (max-width: 800px) {
  .wedding-details {
    flex-direction: column;
  }
}

@media all and (max-width: 700px) {
  .timeLeft {
    flex-wrap: wrap;
  }

  .inner-container {
    padding: 3rem 0;
  }

  .about {
    height: fit-content();
  }

  .map {
    width: 100%;
  }

  .people-container {
    flex-direction: column;
    height: 90rem;
  }

  .g-people,
  .b-people {
    margin: 0 auto;
    width: 80%;
  }

  .box {
    flex-direction: column;
  }

  .dream {
    width: 100%;
  }
}

@media all and (max-width: 560px) {
  .name {
    font-size: 7rem;
    flex-direction: column;
  }

  .inner-container p {
    margin-top: 2rem;
    letter-spacing: 5px;
    font-size: 2rem;
  }

  .inner-container {
    gap: 0rem;
  }

  .time div {
    font-size: 5rem;
  }

  .wedding p {
    max-width: 100%;
  }

  .people p {
    width: 100%;
    line-height: 1.1;
  }

  .wedding h3::after {
    left: 15%;
    width: 12%;
  }

  .wedding h3::before {
    right: 15%;
    width: 12%;
  }
}

@media all and (max-width: 500px) {
  html {
    font-size: 50%;
  }
  .name {
    flex-direction: column;
    gap: 0;
  }
  .about {
    padding: 1rem;
  }

  .about-info {
    display: block;
    width: 90%;
  }

  .groom {
    margin-bottom: 3rem;
  }

  .g-people-img,
  .b-people-img {
    width: 20rem;
    height: 20rem;
  }

  .people-innerContainer {
    padding: 0;
    padding-top: 3rem;
  }

  .g-people,
  .b-people {
    height: 38rem;
  }
}

@media all and (max-width: 368px) {
  .timeLeft {
    gap: 10px;
  }

  .time {
    width: 13rem;
    height: 13rem;
  }

  .time div {
    font-size: 4rem;
  }

  .time span {
    font-size: 2rem;
  }

  .g-people,
  .b-people {
    width: 100%;
  }

  .g-img {
    width: 25rem;
    height: 25rem;
  }

  .wedding h3::after {
    left: 0%;
    width: 20%;
  }

  .wedding h3::before {
    right: 0%;
    width: 20%;
  }
}

@media all and (max-width: 280px) {
  html {
    font-size: 45%;
  }
  .timeLeft {
    gap: 5px;
  }
  .g-img {
    width: 20rem;
    height: 20rem;
  }
}

/* Code for animation */
.animate-gName {
  transform: translateX(0%);
  opacity: 1;
}

.animate-bName {
  transform: translateX(0%);
  opacity: 1;
}

.animate-emoji {
  opacity: 1;
}

@keyframes para {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-map {
  transform: scale(1);
}

.animate-timeLeft {
  transform: translateY(0%);
  opacity: 1;
}

.animate-groom {
  transform: translateX(0%);
  opacity: 1;
}

.animate-bride {
  transform: translateX(0%);
  opacity: 1;
}

.animate-box {
  opacity: 1;
  transform: translate(0%, 0%);
}

.animate-dream {
  transform: scale(1);
}
